
.div-login {
    margin: auto;
    margin-top: 200px;
    padding-left: 50px;
    width: 250px;
    height: 300px;
    background-color: black;
}
                                 /* red button*/
.button1 {
    border-radius: 10px;
    border: 2px solid red;
    background-color: red;
    padding: 0 60px 0 60px;
    color: white;
    cursor: pointer;
}
h3 {
    color: white;
    padding-top: 30px ;
    padding-left: 55px;
}

.l1 {
    color: white;
}

.gray{
    color: gray !important;
}